<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <br>

    <h1 style="padding-top:5%"><strong>Education</strong></h1>
    <p style="margin-top:2%">-SHS: Camarines Sur National High School</p>
    <p style="margin-top:2%">-JHS: Camarines Sur National High School</p> 

    <h1 style="padding-top:5%"><strong>Affiliation</strong></h1>
    <p style="margin-top:2%">-S.I.T.E Officer(Auditor)</p>
    <h1 style="padding-top:5%"><strong>Skills/Training</strong></h1>
    <p style="margin-top:2%">-Critical Thinker</p>
    <p style="margin-top:2%">-Logical Thinker</p>
{% endblock content %}