<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

</head>
{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <br>

    <h1><strong>{{ title }}</strong></h1>
    <h2 style="padding-top:5%"<strong>{{ quote }}</strong></h2>
    <p style="margin-left: 40%"><strong>-{{ anonymous }}</strong></p>
    
{% endblock content %}